NET CLOCK LOC=E7;

NET LCD_E LOC=E2;
NET LCD_RW LOC=F1;
NET LCD_RS LOC=C9;

NET DATA(0) LOC=B1;
NET DATA(1) LOC=A2;
NET DATA(2) LOC=C5;
NET DATA(3) LOC=A6;
NET DATA(4) LOC=C7;
NET DATA(5) LOC=A9;
NET DATA(6) LOC=B10;
NET DATA(7) LOC=B12;



#NET direccion1	LOC=M1;
#NET E_direccion LOC=P2;

#NET "REINI" CLOCK_DEDICATED_ROUTE = FALSE;
#NET REINI LOC = M1;
#
NET REST LOC = J3;
NET BTN_OUT LOC = N1;
NET BTN_IN LOC =L1;

NET BTN1_OUT LOC = R2;
NET BTN_IN1 LOC =J1;



